<div class="p-6">
  <i class="fa-solid fa-chevron-left"></i>
</div>
<form id="update-order-form" method="POST" action="/orders" class="flex flex-col p-6 space-y-3 justify-center">
  <h1 class="text-3xl font-semibold text-gray-700">이메일을 알려주세요</h1>
  <h3 class="text-lg font-base text-gray-500">입력한 이메일 주소로 파일이 전송됩니다</h3>
  <div class="h-1"></div>
  <div class="input-wrapper" id="email-input-wrapper">
    <label for="" class="input-label">이메일 주소</label>
    <input id="email-input" type="email" name="email" placeholder="example@gmail.com" style="font-size: 1.2rem;">
  </div>
  <div class="h-1"></div>
  <div class="input-wrapper" id="code-input-wrapper">
    <label for="code" class="input-label">코드</label>
    <input id="code-input" type="text" name="code" placeholder="6자리 인증 코드" style="font-size: 1.2rem;">
  </div>
  <%# Hidden Inputs %>
  <input id="email-authentication-id-input" type="hidden" name="email_authentication_id">
</form>
<div class="flex-1"></div>
<div id="resend-button-wrapper" class="hidden">
  <div id="resend-button" class="w-full flex flex-row items-center justify-center text-base text-gray-500 font-light mb-4 underline">
    재전송하기
  </div>
</div>
<a
  id="send-email-button"
    style="background-color: var(--primary-color);"
    class="m-6 font-semibold flex flex-col items-center justify-center p-4 text-lg rounded-2xl shadow-lg text-gray-700"
  >
  인증번호 전송
</a>
<a
  id="verify-code-button"
    style="background-color: var(--primary-color);"
    class="m-6 font-semibold flex flex-col items-center justify-center p-4 text-lg rounded-2xl shadow-lg text-gray-700"
  >
  인증번호 확인
</a>
<script>
  var clientKey = 'test_ck_Kma60RZblrq9JQBeL2ErwzYWBn14'
  var tossPayments = TossPayments(clientKey)

  function handleAjaxError(xhr, status) {
    alert(xhr.responseJSON)
  }

  function validateEmail($email) {
   var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
   return emailReg.test( $email );
  }

  function sendEmail() {
    // 이메일 추출
    const email = $("#email-input").val()

    // 이메일 존재 여부 확인
    if (!email) {
      alert("이메일을 입력해주세요")
      return
    }

    if (!validateEmail(email)) {
      alert("형식에 맞는 이메일을 입력해주세요")
      return
    }

    // 인증번호 입력 필드, 재시도 버튼 보여주기

    $('#code-input-wrapper').show(400);
    $('#resend-input-wrapper').show(400);

    $.ajax({
      url: "/email_authentication_requests",
      method: "POST",
      dataType: "json",
      data: {
        email: email,
        order_id: <%= @order.id %>,
      }
    }).done((json1) => {
        const { email_authentication_id } = json1
        $("#email-authentication-id-input").val(email_authentication_id)
        const code = $("#code-input").val()

        // // Verify Email Authentication
        // $.ajax({
        //   url: "/email_authentication_request/verify",
        //   method: "POST",
        //   dataType: "json",
        //   data: {
        //     email_authentication_id,
        //     code
        //   }
        // }).done((res) => {
        //   // 이메일 인증 성공적으로 완료됨
        //   alert("인증이 완료되었습니다. 결제 화면으로 이동합니다.")

        //   // 결제 요청
        //   tossPayments.requestPayment('카드', {
        //     amount: <%= @product.price %>,
        //     orderId: '<%= @order.uuid %>',
        //     orderName: '<%= @order.name %>',
        //     customerName: '<%= current_user.name %>',
        //     successUrl: '<%= root_url %>api/payments/success',
        //     failUrl: '<%= root_url %>api/payments/failure',
        //   })
        // }).fail(handleAjaxError)
    }).fail(() => {
      console.log("error!!")
    })
  }

  $(document).ready(() => {
    $("#code-input-wrapper").hide()
    $("#send-email-button").on("click", sendEmail)
  })
</script>
