<div class="bg-black" style="height: 100vw; max-height: 448px; flex-shrink: 0; -webkit-flex: 0;">
  <img class="object-cover" style="height: 100vw; max-height: 448px;" src="https://picsum.photos/448/448" alt="" />
</div>
<div class="p-6 relative bg-white rounded-tl-3xl rounded-tr-3xl" style="bottom: 30px;">
  <div class="flex flex-col w-full">
    <div class="font-semibold text-sm mb-2" style="color: var(--primary-color);"><%= @product.owner.name %></div>
    <div class="font-bold text-2xl text-gray-900 mb-2"><%= @product.name %></div>
    <div class="font-base text-md text-gray-500 mb-4">
      <%= @product.short_description %>
    </div>
    <div class="flex flex-row items-center justify-stretch w-full">
      <div class="flex flex-row items-center justify-start space-x-2">
        <div class="space-x-1">
          <i class="fa-solid fa-star"></i>
          <span class="text-sm">4.2</span>
          <span class="text-sm text-gray-400 font-light"> (36,821 개의 평점) </span>
        </div>
      </div>
      <div class="flex-1"></div>
      <div class="text-xl font-semibold"><%= @product.price_tag %></div>
    </div>
  </div>
  <div class="py-4"></div>
  <div class="text-gray-600 text-md trix-content">
    <%= @product.description %>
  </div>
  <div class="flex flex-col space-y-2">
  </div>
</div>
<div class="sticky bottom-0 w-full bg-transparent p-6">
  <a
    href="/products/<%= @product.id %>/order/ask-email"
    class="action-button w-full font-semibold flex flex-col items-center justify-center p-4 text-lg rounded-2xl shadow shadow-lg"
  >
    구매하기
  </a>
</div>
<style>
  .action-button {
    background-color: var(--primary-color);
    color: white;
  }
</style>
