<!DOCTYPE html>
<html>
  <head>
    <title>Picostore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  </head>
  <body>
    <div class="p-8">
      <% if flash[:notice] %>
        <%= content_tag :h1, flash[:notice] %>
      <% end %>
      <%= is_logged_in %>
    </div>
    <main class="flex flex-col items-center bg-gray-100">
      <div class="flex flex-col items-stretch justify-start w-full h-full overflow-y-scroll shadow bg-white">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
