<!DOCTYPE html>
<html>
  <head>
    <title>Picostore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet">
    <%# FontAwesome CDN %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <%# Materialize CSS CDN %>
    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> %>
    <%# END %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# JQUERY %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <%# <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> %>
    <%# Toss Payments %>
    <script src="https://js.tosspayments.com/v1"></script>
  </head>
  <body>
    <main class="flex flex-col items-center min-h-screen" id="app">
      <div class="relative flex flex-col items-stretch justify-start w-full h-full shadow bg-white" style="max-width: 600px; min-height: 100vh;">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
